<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body>

  <button type="button" class="create btn btn-outline-danger btn-lg" style="margin-left: 50px" data-bs-toggle="modal"
    data-bs-target="#exampleModal" data-bs-whatever="@mdo">新增活動</button>

  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新增活動(請輸入資料)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!--表單內容-->
        <form th:action="@{/activity/insertData}" method="post" enctype="multipart/form-data">
         
          <div class="modal-body" style="display:flex; flex-wrap:wrap;">

            <!--圖片(左上)-->
            <div style="width: 600px; float:left;">
              <p>活動照片:</p>
              <div>
              <img id="imgPreview" src="#" style="max-width:600px;  max-height:400px; display: none"/>
              <input type="file" name="activityPicture" id="imgInput" multiple></input>
              </div>
            </div>

            <!--摘要(右上)-->
            <div style="width:450px; float:right; margin-left:30px;">
            	<p>活動摘要:</p>
              <div>
                <label for="" class="col-form-label">活動類型:</label>
                <input type="text" class="form-control" id="activityType" name="activityType" list="typelist"
                  placeholder="請輸入類型">
                <datalist id="typelist">
                  <option value="新手專區"></option>
                  <option value="百岳入門"></option>
                  <option value="百岳進階"></option>
                  <option value="長天數縱走"></option>
                  <option value="中級山野營"></option>
                </datalist>
              </div>

              <div>
                <label for="" class="col-form-label">活動名稱:</label>
                <input type="text" class="form-control" id="activityName" name="activityName" list="namelist"
                  placeholder="請輸入名稱">
                <datalist id="namelist">
                  <option value="帝王之山~南湖群峰五天四夜"></option>
                  <option value="寶島第一尖~中央尖山四天三夜"></option>
                  <option value="步步驚心~北二段縱走四天三夜"></option>
                  <option value="一生必朝聖: 水鹿大軍圍繞的北三段(能高安東軍)縱走六天五夜"></option>
                  <option value="野外求生體驗營"></option>
                  <option value="新手入門: 七星山"></option>
                  <option value="台版富士山: 苗栗加里山一日單攻"></option>
                </datalist>
              </div>

              <div>
                <label for="" class="col-form-label">活動地點:</label>
                <input type="text" class="form-control" id="activityLocation" name="activityLocation"
                  list="locationlist" placeholder="請輸入地點">
                <datalist id="locationlist">
                  <option value="太魯閣國家公園"></option>
                  <option value="玉山國家公園"></option>
                  <option value="雪山國家公園"></option>
                  <option value="陽明山國家公園"></option>
                  <option value="奧萬大國家森林遊樂區"></option>
                  <option value="新北市山區"></option>
                </datalist>
              </div>


              <div>
                <label for="" class="col-form-label">活動名額:</label>
                <input type="text" class="form-control" id="activityQuota" name="activityQuota" list="quotalist"
                  placeholder="請輸入名額">
                <datalist id="quotalist">
                  <option value="30"></option>
                  <option value="40"></option>
                  <option value="50"></option>
                </datalist>
              </div>

              <div>
                <label for="" class="col-form-label">活動價格(NT$):</label>
                <input type="number" class="form-control" id="activityPrice" name="activityPrice" list="Pricelist"
                  placeholder="請輸入價格">
                <datalist id="Pricelist">
                  <option value="6500"></option>
                  <option value="1600"></option>
                  <option value="12000"></option>
                  <option value="500"></option>
                  <option value="3200"></option>
                  <option value="5000"></option>
                </datalist>
              </div>
            </div>


            <!-- 詳細介紹(下方) -->
            <div style="width:97.7%;">
              <label for="" class="col-form-label">活動資訊:</label>
              <textarea class="form-control" id="activityInfo" name="activityInfo" placeholder="請輸入資訊" style="height:600px"></textarea>
            </div>

          </div>

			<!-- 按鈕 -->
          <!-- 按鈕功能還沒寫喔! -->
          <div class="modal-footer">
            <button type="button" id="previewData" class="my-preview-data-btn btn btn-outline-primary">預覽</button>
            <button type="submit" class="my-submit-data-btn btn btn-outline-primary">確定</button>
            <button type="reset" class="my-reset-data-btn btn btn-outline-primary">清除</button>
            <button type="button" id="fillData" class="my-filldata-data-btn btn btn-outline-primary">一鍵輸入</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- <script src="https://kit.fontawesome.com/c919345bd6.js" crossorigin="anonymous"></script> -->
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
  <script th:src="@{/js/insert.js}"></script>
  
  <script>
    $("#imgInput").change(function () {
      readURL(this);
    })

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#imgPreview").attr('src', e.target.result).css({"display":"block"});
        }
        reader.readAsDataURL(input.files[0]);
        reader.readAsDataURL(input.files[1]);
      }
    }

  </script>


</body>

</html>